<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">
      <h1>Todo List!</h1>
    </div>

    <div class="input-group mb-3">
      <input [ngClass]="{'empty-input': inputEmpty}" [(ngModel)]="newTodo" type="text" class="form-control {{(newTodo!=='')? 'form-control':'addTodo'}}" placeholder="Enter your task..." aria-label="task" aria-describedby="basic-addon2" [(ngModel)]="newTodo">
      <button type="button" class="btn btn-primary" (click)="addTodo()">Add</button>
    </div>
    <div *ngIf="inputEmpty" class="error-message">Please enter a task</div>

    <div class="row ">
      <ol class="list-group list-group-numbered ">
        <li class="list-group-item {{(!todo.isCompleted)? 'done':''}}"  *ngFor="let todo of todos; index as i">{{todo.description}}
          <input *ngIf="todo.edit" [(ngModel)]="todo.description" (blur)="saveEdit(i)">
          <button type="button" class="btn btn-warning" (click)="toEdit(i)">Edit</button>
          <button type="button" class="btn btn-success" (click)="done(i)">Done</button>
          <button type="button" class="btn btn-danger" (click)="deleteTodo(i)">Delete</button> 
        </li>
      </ol>
    </div>
  </div>
</div>

 


